@import url('https://fonts.googleapis.com/css2?family=Abel&family=Passion+One&display=swap');

body, html{
    font-family: 'Passion One';
    margin: 0px;
    padding: 0px;
    background-color: white;
    position:relative;
    filter: sepia(20%);
}

.container-fluid{
    background-color: white;
    margin:0px;
}


.main{
    background-image: url('../img/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}



.centered h1{
   color: white;
   font-size: 5.5em;
}

.introd{
    height: 600px;
    margin-top:-60px;
    overflow: visible;
    background-color: #878484;
    color: black;
}

.introd h2{
    color: white;
    padding-top:80px;
}

.introd a{
    margin: auto;
    justify-content: center;
    color: black;
    display: flex;
    background-color: orange;
}

.introd p{
    font-family: 'Abel';
    font-size: 1em;
}

.galeria{
    color: white;
    height: 1100px;
    width: 100%;
}

.galeria h2{
    padding-top: 70px;
}

.galeria p{
  font-family: 'Abel';
  font-weight: 1em  ;
}

.galeria img{
    padding: 10px;
    width: 267px;
    height: 267px;
    border-radius: 9%;
}

#galeria{
    margin-bottom: 650px;
    height: 500px;
}

.tele label{
    text-align: center;
    padding-top:20px;
}

.tele input{
    width: 300px;
    margin-top: 20px;
}

.tele a{
    width:100px;
    margin: auto;
    display: flex;
    background-color: orange;
    color: black;
}

footer{
    width: 100%;
    display: flex;
    background-color: #426DA1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  footer a{
    color: white;
  }
  
  .footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  .redes p{
    color: white;
  }
  
  .politica{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .politica a{
    padding: 5px;
  }
  
  .allright{
    text-align: center;
  }
  .logo i{
    font-size: 2.3em;
    margin: 5px 10px 5px 0px;
    color: white;
    transition: 0.5s all;
  }
  .allright p{
    color: white;
  }
  .logo i:hover{
    color: black;
  }

  .galeria2 img{
    border-radius: 9%;
  }

  #preguntas p{
    font-family:'Abel';
  }

  #preguntas a{
    background-color:orange;
    color:black;
  }

  .pregunt{
    display: flex;
    height: 600px;
    margin-top:-90px;
    overflow: visible;
    background-color: #878484;
    color: black;
    justify-content: center;
    align-items: center;
    padding:100px;
  }